.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-Title {
  text-align: center;
}

.Total-Cost {
  text-align: center;
  padding: 50px;
  font-size: larger;
}

.Total-Cost-Title {
  font-weight: bolder;
}

.Total-Cost-Price {

}

.Streamer-Card {
  padding: 50px;
  margin: 50px;
  background-color: darkgrey;
}

.Streamer-Card-Title {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.Streamer-Card-Title-Text {
  padding: 15px;
  font-size: 32px;
  font-weight: bolder;
}

.Streamer-Card-Plan-Title {
  font-size: 12px;
  /* font-weight: 100; */
}

.Streamer-Card-Plan-Points {
  font-size: 6px;
}